* {
  margin: 0;
  padding: 0;
}
header {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px #e66465;
}
header nav {
  background: linear-gradient(#e66465, #9198e5);
  padding: 30px 0;
  position: relative;
  width: 100%;
  opacity: 0.9;
  border-top: none;
  box-sizing: border-box;
}
header nav ul {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row;
    flex-direction: row;
    justify-content: center;

}
header nav ul li {
  display: inline-block;
  position: relative;
  margin: 0 1%;
}
header nav ul li a {
    color: white;
    text-decoration: underline;
    font-family: Helvetica;
    font-size: 36px;
    font-weight: bold;
}
/*header styles*/

section {  /*body except header*/
  display: flex;
  flex-direction: row;
}
section #table-container {
  background: darkblue;
  height: 600px;
  width: 100vw;
  opacity: 0.5;
}

section #buyIdentificatpor {
  position: fixed;
  top: 120px;
  right: 20px;
  background: radial-gradient(purple, blue);
  height: 300px;
  width: 300px;
  opacity: 0.5;
  border-radius: 150px;
  visibility: hidden;
}
/*Table*/
.cripto-currency-table {
  background: white;
  color: black;
  margin: 1vh auto;
  width: 80vw;
}
.cripto-currency-table th {
  padding: 10px 0;
}
#div-cc-table-data {
  height: 70vh;
  overflow: scroll;
}
.cripto-currency-table-data {
  text-align: center;
}
